body {
  margin: 0;
  padding: 0;
  background-color: #00859c;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  border-radius: 25px;
  max-width: 600px;
  height: 320px;
  border: 0px solid #00859c;
  background-color: #f9fffc;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
